*{
    user-select: none;
    
}

.fundo{
    width: 500px;
    height: 350px;
    left: 10px;
    position: absolute;
    border-radius: 10px;
    background-color: rgba(113, 5, 255, 0.377);
}



.botao7{
    position: absolute;
    top: 229px;
    left: 155.2px;
    border-radius: 15px;
    width: 51.4px;
    height: 52px;
    background-color: white;
}

.botao8{
    position: absolute;
    top: 230px;
    left: 214px;
    border-radius: 15px;
    width: 53px;
    height: 52px;
    background-color: white;
}

.botao9{
    position: absolute;
    top: 230px;
    left: 275.2px;
    border-radius: 15px;
    width: 53px;
    height: 51.5px;
    background-color: white;
}

.botao4{
    position: absolute;
    top: 287px;
    left: 155.2px;
    border-radius: 15px;
    width: 51.4px;
    height: 52px;
    background-color: white;
}

.botao5{
    position: absolute;
    top: 288px;
    left: 214px;
    border-radius: 15px;
    width: 53px;
    height: 52px;
    background-color: white;
}

.botao6{
    position: absolute;
    top: 288px;
    left: 275.2px;
    border-radius: 15px;
    width: 53px;
    height: 51.5px;
    background-color: white;
}

.botao1{
    position: absolute;
    top: 347px;
    left: 155.2px;
    border-radius: 15px;
    width: 54px;
    height: 52px;
    background-color: white;
}

.botao2{
    position: absolute;
    top: 347px;
    left: 214px;
    border-radius: 15px;
    width: 53px;
    height: 52px;
    background-color: white;
}

.botao3{
    position: absolute;
    top: 346px;
    left: 274px;
    border-radius: 15px;
    width: 53px;
    height: 51.5px;
    background-color: white;
}


.botao0{
    position: absolute;
    top: 406px;
    left: 155.2px;
    border-radius: 15px;
    width: 54px;
    height: 52.5px;
    background-color: white;
}

.botaox{
    position: absolute;
    top: 229px;
    left: 335px;
    border-radius: 15px;
    width: 53px;
    height: 53px;
    background-color: white;
}

.botao-{
    position: absolute;
    top: 405px;
    left: 214px;
    border-radius: 15px;
    width: 53px;
    height: 52px;
    background-color: white;
}

.botaomais{
    position: absolute;
    top: 405px;
    left: 274px;
    border-radius: 15px;
    width: 53px;
    height: 52.5px;
    background-color: white;
}

.botaodivi{
    position: absolute;
    top: 287px;
    left: 335px;
    border-radius: 15px;
    width: 53px;
    height: 52.5px;
    background-color: white;
}

.botaocal{
    position: absolute;
    top: 345px;
    left: 335px;
    border-radius: 15px;
    width: 53px;
    height: 113px;
    background-color: rgba(165, 0, 0, 0.664);
}

.botaoC{
    position: absolute;
    top: 184px;
    left: 155.2px;
    border-radius: 10px;
    width: 51.4px;
    height: 30px;
    background-color: white;
}

.botaoCC{
    position: absolute;
    top: 184px;
    left: 214px;
    border-radius: 10px;
    width: 52.5px;
    height: 30px;
    background-color: white;
}

.titulo{
    position: absolute;
    top:10px;
    
}

.DisplayP{
    position: absolute;
    top: 95px;
    left: 185px;
    font-size: 30px;
}

.titulo{
    position: absolute;
    top: 71px;
    left: 231px;
    color: rgb(255, 0, 0);
}

